# Unity YAML 强制文本 + 一致换行
*.unity text
*.asset text
*.prefab text
*.mat text
*.controller text
*.anim text
*.lighting text
*.meta text
*.shader text
*.hlsl text
*.cs text
*.json text
*.txt text
*.mixer text
# 二进制资源
*.png binary
*.jpg binary
*.tga binary
*.psd binary
*.exr binary
*.hdr binary
*.ogg binary
*.wav binary
*.mp3 binary
*.mesh binary
*.bytes binary
*.dll binary
*.bundle binary
*.resS binary
*.resource binary
*.unitypackage binary
