# Unity 生成目录（不提交）
/Library/
/Temp/
/Obj/
/Build/
/Builds/
/Logs/
/UserSettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/

# 云构建产物
/build/

# IDE
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
.vs/
.idea/
.vscode/

# 系统
.DS_Store
Thumbs.db

# 崩溃/日志
crashlyftx
sysinfo.txt
*.apk
*.aab
*.ipa
